config AMLOGIC_POWER
	bool "Amloigc power related driver support"
	default n
	help
		this config enables to use amlogic power management driver
		Say y here if you want power related driver(pmu/dvfs) support

config AMLOGIC_PMU_OF
	bool "Amlogic Power OF support"
	depends on AMLOGIC_POWER
	depends on I2C
	default n
	help
		Power management device tree support

config BATTERY_CW2015
	tristate "CW2105 battery driver"
	default y
	help
	  Say Y here to enable support for batteries with CW2105 chip
	  connected over an I2C bus.

source "drivers/amlogic/power/aml_pmu/Kconfig"
source "drivers/amlogic/power/aml_dvfs/Kconfig"
