menuconfig AMLOGIC_SND_SOC_CODECS
	bool "AMLOGIC CODEC drivers"
	default n
	help
	  Say Y or M if you want to add support for codecs attached to
	  the Amlogic Asoc interface. You will also need
	  to select the audio interfaces to support below.

#if AMLOGIC_SND_SOC_CODECS

config AMLOGIC_SND_SOC_ES7243
	bool "EVEREST SEMI ES7243"
	depends on AMLOGIC_SND_SOC_CODECS
	depends on I2C
	default n
	help
		Enable Support for EVEREST SEMI ES7243 CODEC.
		Select this if your ES7243 is connected via an I2C bus.
		Enable Support for EVEREST SEMI ES7243 CODEC.
		Select this if your ES7243 is connected via an I2C bus.

#endif #AMLOGIC_SND_SOC_CODECS
